<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <title>Home - Blog Jop Molenaar - Web design & dev Minor</title>
</head>
<body>
    <main>
        <h1>Blog Jop Molenaar</h1>
        <section>
            <h2>Lees mijn blogs:</h2>
            <nav>
                <ul>
                    <li>
                        <div>
                            <h2>Nerds</h2>
                            <ul>
                                <li><a href="/notesFenna">Fenna de Wilde</a></li> 
                                <!-- de Wilde? -->
                                <li><a href="/notesKilian">Kilian Valkhof</a></li>
                                <li><a href="/notesNils">Nils Binder</a></li>
                                <li><a href="/notesMarieke">Marieke en Pim</a></li>
                                <li><a href="/notesRosa">Rosa Schuurman</a></li>
                                <li><a href="/notesJeffry">Jeffry Arts</a></li>
                                <li><a href="/notesJeremy">Jeremy Keith</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2>Processen</h2>
                            <ul>  
                                <li><a href="/processWAFS">Web App From Scratch</a></li>
                                <li><a href="/processCSS">CSS to the rescue</a></li>
                                <li><a href="#">Browser Technologies</a></li>
                                <li><a href="/Hackathon">Hackathon</a></li>
                                <li><a href="/processAPI">API</a></li>
                                <li><a href="/processHCD">Human Centered Design</a></li></ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </section>
        <section>
            <h2>Over mijn blog</h2>
            <p>Dit blog heb ik gemaakt om alle processen van de vakken en samenvattingen van de sprekers bij te houden. </p>
            <section>
                <h3>Mijn belangrijkste bevindingen</h3>
                <p>De sprekers die ik het meest interessant vond waren Kilian, Nils en Jeremy. Kilian had het over het niet gebruiken van Javascript als het ook met HTML en CSS kan. 
                    Hier was ik het zeker mee eens ook al vind ik het schrijven van Javascript juist super leuk. 
                    Daarbij noemde hij selectoren die nieuw voor mij waren zoals <code>:has()</code>, maar ook elementen zoals <code>dialog</code> en <code>datalist</code>.
                    Daarna zei Kilian ook nog dat je niet steeds hetzelfde als dat je de vorige keer had gebruikt moet gebruiken maar juist moet kijken 
                    of er een nieuwe betere en snellere manier is.
                    Dit is belangrijk omdat de technieken echt ontzettend snel vooruit gaan en voor je het weet een betere manier is om iets te doen. 
                    Dit bleef wel even hangen want het project voor deze minor had ik namelijk met Javascript een input gemaakt met opties waar je uit kon kiezen, en als je in de input aan het typen was zocht hij door die opties 
                    en kreeg je er steeds minder te zien. Dit kon dus veel makkelijker met een datalist. 
                </p>
                <p>
                    Nils had het over layouts. Dat we alsmaar alles centreren op de websites en het veel leuker kunt maken om zoals op posters te designen. Hij liet voorbeelden zien die er heel visueel aantrekkelijk uitzagen
                    en ook nog responsive waren. Dit opende mijn ogen en inspireerde mij om dus ook zo te denken en te kijken naar design. Maar ik ben niet heel visueel sterk en vindt het nog lastig om zulke layouts te bedenken, 
                    met dit in mijn achterhoofd geeft dit mij zeker meer inspiratie. 
                </p>
                <p>
                    Jeremy had het vooral over de controle geven aan de browser. Browsers hebben namelijk heel veel natuurlijke gedragskenmerken en om daar zo veel mogelijk uit te halen met zo min mogelijk werk, 
                    moet je losjes zijn in de waardes die je mee geeft in de css op je website. Hier was ik het ook mee eens en ik vind ook dat 
                    websites er niet altijd perfect uit te hoeven zien, maar wel altijd goed moeten werken. Door zo te denken scheelt het tijd om de css te schrijven voor je website en dat vind ik juist wel fijn. 
                </p>
            </section>
            <section>
                <h3>Waar ik nu sta</h3>
                <p>Ik ben deze minor er achter gekomen dat ik een technische front-end developer ben. Ik ben niet visueel heel sterk en visueel creatief (wel creatief in oplossingen bedenken) maar wil wel graag een mooie 
                    website maken. Ik heb een designer nodig die mij een design geeft waar ik mij aan kan houden. Dit heb ik echter nog nooit echt gedaan, en zo gaat het in het bedrijfsleven wel zijn gang.
                    Ook sta op het punt om mijn brede basis kennis (HTML, CSS, JS, Node en geen frameworks) meer naar de professionele wereld te vormen met de stage in zicht, en wil mij hier al een beetje op voor bereiden. 
                    Daarom zou ik graag wat technieken die ze daar gebruiken ook al willen gebruiken zoals object oriented programming, het MVC model voor de backend en builders.
                </p>
            </section>
            <section>
                <h3>Mijn leerdoelen</h3>
                <p>Mijn leerdoelen voor de meesterproef zijn:</p>
                <ul>
                    <li>Ik wil leren om een pixel perfect design van de designer te coderen.</li>
                    <li>Ik wil leren om builders te kunnen gebruiken en/of dingen zoals static site generators te kunnen gebruiken voor performance upgrades.</li>
                    <li>Ik wil object oriented programming leren</li>
                    <li>Ik wil het kunnen gebruiken en opzetten van het MVC model voor de backend leren.</li>
                </ul>
                <p>Ik wil dit leren omdat ik dit allemaal nog nooit heb gedaan, en dit veel wordt gebruikt in de professionele wereld. 
                    Ook heb ik het een aantal keer voorbij zien komen tijdens het zoeken naar een stage en staan deze dingen al langer op mijn
                    lijstje. 
                </p>
            </section>
        </section>
    </main>
    <footer>
        <p>Portfolio: <a target="_blank" href="https://jopmolenaar.com/">jopmolenaar.com</a></p>
        <!-- lijst met de websites die bij de projecten horen -->
    </footer>
</body>
</html>