<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Blog Jop Molenaar - Web design & dev Minor</title>
</head>
<body>
    <h1>Home page</h1>
    <!-- <a href="/processWAFS">procesverslag van WAFS</a>
    <a href="/notesFenna">notes van weekly nerd -> Fenna</a>
    <a href="/notesKilian">notes van weekly nerd -> Kilian</a> -->

    <li><a href="/notesFenna">notes Fenna</a></li>
    <li><a href="/notesKilian">notes Kilian</a></li>
    <li><a href="/notesNils">notes Nils</a></li>
    <li><a href="/processWAFS">process WAFS</a></li>
    <li><a href="/processCSS">process CSS</a></li>
    <li><a href="#">process BT</a></li>
    <li><a href="/Hackathon">Hackathon</a></li>
    <li><a href="/processAPI">process API</a></li>
    <li><a href="/processHCD">process HCD</a></li>
</body>
</html>