<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="styles/navLayout.css" />
        <title>Blog Jop Molenaar - Web design & dev Minor</title>
    </head>
    <body>
        <header>
            <nav class="pagesNav">
                <ul>
                    <li><a href="/home"><h1>Blog Jop Molenaar</h1></a></li>
                    <li><a href="/notesFenna">Fenna de Wilde</a></li> 
                    <!-- de Wilde? -->
                    <li><a href="/notesKilian">Kilian Valkhof</a></li>
                    <li><a href="/notesNils">Nils Binder</a></li>
                    <li><a href="/notesMarieke">Marieke en Pim</a></li>
                    <li><a href="/notesRosa">Rosa Schuurman</a></li>
                    <li><a href="/notesJeffry">Jeffry Arts</a></li>
                    <li><a href="/notesJeremy">Jeremy Keith</a></li>
                    <li><a href="/processWAFS">Web App From Scratch</a></li>
                    <li><a href="/processCSS">CSS to the rescue</a></li>
                    <li><a href="#">Browser Technologies</a></li>
                    <li><a href="/Hackathon">Hackathon</a></li>
                    <li><a href="/processAPI">API</a></li>
                    <li><a href="/processHCD">Human Centered Design</a></li></ul>
                </ul>
            </nav>
            <button class="openCloseNav" aria-label="Sluit de navigatie">Close</button>
        </header>
        <main>
            <!-- <section> -->
                <div><%- html %></div>
                <nav class="Nav">
                    <ul>
                        
                    </ul>
                </nav>
            <!-- </section> -->
        </main>
        <script src="js/script.js"></script>
        <script src="js/navBarMobile.js"></script>
    </body>
</html>
