<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="styles/navLayout.css" />
        <title>Blog Jop Molenaar - Web design & dev Minor</title>
    </head>
    <body>
        <header>
            <nav class="pagesNav">
                <ul>
                    <li><a href="/home"><h1>Blog Jop Molenaar</h1></a></li>
                    <li><a href="/notesFenna">notes Fenna</a></li>
                    <li><a href="/notesKilian">notes Kilian</a></li>
                    <li><a href="/notesNils">notes Nils</a></li>
                    <li><a href="/processWAFS">process WAFS</a></li>
                    <li><a href="/processCSS">process CSS</a></li>
                    <li><a href="/processBT">process BT</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- <section> -->
                <div><%- html %></div>
                <nav class="Nav">
                    <ul>
                        
                    </ul>
                </nav>
            <!-- </section> -->
        </main>
        <script src="js/script.js"></script>
    </body>
</html>
