<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Jop Molenaar - 404 page not found</title>
</head>
<body>
    <header>
        <h1>Blog Jop Molenaar 404 not found</h1>
    </header>
    <main>
        <h1>Not the page you are looking for</h1>
        <a href="/home">Got to the homepage</a>
    </main>
</body>
</html>