@layer base, header;

@layer header {
    header {
        background-color: var(--color-body);
        display: flex;
        flex-direction: row;
    }
    header a {
        text-decoration: none;
        color: black;
        color: var(--color-text-nav);
    }
    header a h1 {
        font-size: 1em;
        margin: 0;
        height: 100%;
        display: flex;
        place-items: center;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        margin: 0;
        padding: 0.4em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
        column-gap: auto;
    }
    nav ul li {
        list-style: none;
        padding: 0.1rem 0.5rem ;
    }
    nav ul li:not(li+li) {
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        max-width: none;
    }
    header nav ul li a {
        padding: 0.3em;
    }
    header nav ul li {
        & a:hover {
        background-color: color-mix(in srgb, var(--color-body) 93%, var(--color-mix));
        } 
        & .active-link {
            background-color: color-mix(in srgb, var(--color-body) 93%, var(--color-mix));
        }
    }
   
    main {
        background-color: var(--color-main);
        padding: 1em;
        display: flex;
    }
}

.openCloseNav {
    display: none;
}


@media (max-width: 43.75em){
    body {
        position: relative;
    }
    body.nav-open {
        overflow: hidden;
        & header nav {
            transform: translate(0%);
        }
    }
    header {
        height: 3em;
    }
    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        position: absolute;
        z-index: 99;
        inset: 0;
        height: 100vh;
        background-color: var(--color-body);
        z-index: 9;
        transform: translate(-100%);
        transition: 600ms ease;
    }
    header .openCloseNav {
        display: flex;
        /* position: absolute; */
        top: 2em;
        left: 2em;
        z-index: 999;
    }
    header nav ul {
        flex-direction: column;
        width: fit-content;
        gap: 1.3em;
        & li {
            width: fit-content;
            font-size: 1.4em;
        }
    }
}



@media (min-width: 65em){
    body {
        display: flex;
    }
    header {
        background-color: var(--color-body);
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header div {
        position: absolute;
        width: 100vw;
        height: 2em;
        /* background-color: var(--color-body); */
    }
    header a {
        text-decoration: none;
        color: black;
        display: block;
        height: 100%;
        width: fit-content;
        color: var(--color-text-nav);
    }
    header a h1 {
        font-size: 1.2em;
        margin: 0;
        height: 100%;
        display: flex;
        place-items: center;
    }
    header nav {
        width: 17em;
    }
    header nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }
    header nav ul li + li {
        list-style: none;
        width: 100%;
        margin-top: 0.8rem;
    }
    nav ul li:not(li+li) {
        text-align: start;
    }
    header nav ul li {
        & a {
            text-decoration: none;
            padding: 0.3rem;
            padding-left: 1.3rem;
            flex-wrap: nowrap;
            display: block;
            width: 100%;
            transition: 150ms;
        }
        & .active-link {
            background-color: color-mix(in srgb, var(--color-body) 93%, var(--color-mix));
        }
    }
    
    header nav ul li a:hover {
        background-color: color-mix(in srgb, var(--color-body) 93%, var(--color-mix));
    }
    
    main {
        /* width: 100%; */
        margin-top: 1.5em;
        background-color: var(--color-main);
        border-radius: 20px 0 0 0;
        position: relative;
        padding: 1em;
        display: flex;
        position: relative;
        justify-content: center;
        color: var(--color-text-main);
        width: 100vw;
    }
}

@media (min-width: 70em){
    main {

        justify-content: end;

    }
}

@media (min-width: 80em){
    main {

        justify-content: center;

    }
}